body {
    font-family: "Titillium Web","Helvetica Neue",sans-serif;
    background: #25272a;
    color: #c5c8c6;
    margin: 0px;
}

p, pre {
    font-size: 17px;
    line-height: 1.5;
    margin: 1em 0 1.5em 0;
}

a:visited, a:hover, a {
    color: #81a2be; /* blue */
    text-decoration: none;
}

/***********************
 *        TECH
 ***********************/

.tech h3 {
    margin: 0px 0px 5px 0px;
}

.tech p {
    margin: 0px
}

.tech {
    margin-bottom: 30px;
}

.tech img {
    width: 100%;
}

.tech .info > a {
    margin: 0px 0px 0px 0px;
}

.tech .info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

@media (min-width: 520px) {
    .tech {
        margin-bottom: 50px;
    }

    .tech img {
        width: 200px;
    }

    .tech .info > a {
        margin: 0px 20px 0px 0px;
    }

    .tech:nth-child(even) .info > a {
        margin: 0px 0px 0px 20px;
    }

    .tech .info {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
    }

    .tech:nth-child(even) .info {
        flex-flow: row-reverse nowrap;
        justify-content: flex-end;
    }
}


/***********************
 *       HEADER
 ***********************/

header {
    text-align: center;
    margin-bottom: 2em;
}

header>p {
    margin: .2em 0;
}

header>a {
    margin: -3px 0;
    display: block;
}

.small-font {
    font-size: 14px;
}

.logo p {
    margin: -10px 0 -10px 0;
    /* color: #c5c8c6;  default - white */
    font-size: 24px;
    color: #de935f; /* orange */
}

.logo img {
    width: auto;
    height: 70px;
}

.text-splitter:before {
    color: #de935f; /* orange */
    content: "|";
    font-size: 20px;
}

/***********************
 *        MISC
 ***********************/

code {
    border: 1px solid #45494e;
    border-radius: 3px;
    background: #35383c;
    padding: 1px 2px;
    font-size: 13px;
}

pre {
    word-wrap: normal;
    overflow: auto;
    font-size: 14px;
    margin: 0 20px;
}

pre > code {
    white-space: inherit;
    font-size: 15px;
 }

blockquote {
    background: #1d1f21;
    border-left: 10px solid #45494e;
    margin: 0em 2em;
    padding: 0.5em 10px;
}

blockquote p {
    display: inline;
}

.valign-mid {
    vertical-align: middle;
}

.post-blurb>a {
    font-size: 20px;
    margin-right: 10px;
    font-family: Oswald, "Titillium Web","Helvetica Neue", sans-serif;
}


.post-blurb>.date {
    font-size: 14px;
    margin-left: 10px;
}

hr {
    margin: 2em;
    border-color: #969896;
}

@media (max-width: 520px) {
    .wrapper {
        padding: 0 30px;
        margin-top: 5%;
    }
}

@media (min-width: 520px) {
    .wrapper {
        width: 480px;
        margin: 5% auto 0 auto;
    }
}

@media (min-width: 1024px) {
    main {
        margin: 0 0 0 265px;
    }

    .wrapper {
        width: 950px;
    }

    header
    {
        float: left;
        width: 250px;
    }
}


