
.banner-photo {
    height: 25vh;
    background-size: cover;
    background-position: center;
}

@media (min-width: 520px) {
    .banner-photo {
        height: 45vh;
    }
}

@media (min-width: 820px) {
    .banner-photo {
        height: 65vh;
    }
}

.post-content  img {
    max-width: 100%;
    max-height: 700px;
    display: block;
    margin: auto;
}

.post-title {
    margin: 10px auto 5px;
}

.post-date {
    margin: 0 auto 30px;
    font-size: 14px;
}
