layout: default.liquid
title: Ethan's Blog
---

{% assign drafts = collections.posts.pages | where: "is_draft" %}
{% if drafts.size > 0 %}
  <h1>Drafts</h1>
  {% for post in drafts %}
    <div class="post-blurb">
      <a class="valign-mid" href="{{post.permalink}}">{{ post.title }}</a>
      <span class="text-splitter valign-mid"></span>
      <span class="date valign-mid">NOT PUBLISHED</span>
      <hr />
    </div>
  {% endfor %}
  <h1>Not Drafts</h1>
{% endif %}




{% assign published_posts = collections.posts.pages | where: "is_draft", false %}
{% for post in published_posts %}
  <div class="post-blurb">
    <a class="valign-mid" href="{{post.permalink}}">{{ post.title }}</a>
    <span class="text-splitter valign-mid"></span>
    {% if post.published_date %}
      <span class="date valign-mid">{{ post.published_date | date: "%-d %B %Y" }}</span>
    {% endif %}
    {% if post.excerpt %}
      {{ post.excerpt }}
    {% else %}
      {{ post.content | truncatewords: 23, '...' }}
    {% endif %}
    <hr />
  </div>
{% endfor %}
