layout: default.liquid
---
<div >
  <h1>Tech Portfolio</h1>
  <div>

    <div class="tech">
      <h3>Znake</h3>
      <div class="info">
        <a href="https://gitlab.com/freiguy1/wasm4-snake">
          <img src="/img/2022/znake.jpg"></img>
        </a>
        <div>
          <p>I wrote <em>another</em> snake game! Whoops. This time it was written in <a href="https://ziglang.org" target="_blank">Zig</a> and used the <a href="https://wasm4.org" target="_blank">WASM-4</a> fantasy console. I entered it in the first <a href="https://itch.io/jam/wasm4" target="_blank">WASM-4 Game Jam</a> as well. My implementation has a couple changes from the original vanilla snake game. First, the player can select the number of "food" (in my case, mice). Also the mice move around randomly. WASM-4 allows the game to easily be played on mobile or desktop.</p>
          <a href="https://freiguy1.gitlab.io/wasm4-snake" class="small-font" target="_blank">play here</a>
          <span class="text-splitter"></span>
          <a href="https://gitlab.com/freiguy1/wasm4-snake" class="small-font" target="_blank">source</a>
          <span class="text-splitter"></span>
          <a href="https://freiguy1.itch.io/znake" class="small-font" target="_blank">itch.io page</a>
          <span class="text-splitter"></span>
          <a href="https://zigmonthly.org/letters/2022/february/#zig-kills-it-in-the-wasm4-game-jam" class="small-font" target="_blank">zig monthly mention</a>
        </div>
      </div>
    </div>

    <div class="tech">
      <h3>Moon Lamp</h3>
      <div class="info">
        <a href="/posts/moon-lamp.html">
          <img src="/img/2021/moon-lamp.gif"></img>
        </a>
        <div>
          <p>I built a night light which softly displays the current phase of the moon! Check out more information in the link to the blog post below.</p>
          <a href="/posts/moon-lamp.html" class="small-font">blog post</a>
          <span class="text-splitter"></span>
          <a href="https://gitlab.com/freiguy1/moon-lamp" class="small-font">source</a>
        </div>
      </div>
    </div>

    <div class="tech">
      <h3>Minecraft on Demand</h3>
      <div class="info">
        <div></div>
        <div>
          <p>This project was one born of frugality. I didn't want to pay $10/month for a minecraft server that rarely gets used. With a click of a button on a web page, any of my friends can start up our dedicated server which automatically shuts down when inactive! I built this system from parts like EC2 and a custom web page.</p>
          <a href="/posts/minecraft-on-demand.html" class="small-font">blog post</a>
        </div>
      </div>
    </div>

    <div class="tech">
      <h3>EVE: Echoes Tools</h3>
      <div class="info">
        <a href="https://echoes-tools.herokuapp.com/">
          <img src="/img/echoes-tools.png"></img>
        </a>
        <div>
          <p>I started playing a mobile game called <a href="https://www.eveechoes.com">EVE: Echoes</a> because I found the idea fascinating and the gameplay pretty fun at first. One of the game mechanics is called Planetary Resources. It allows you to harvest resources from planets. There are ~35 resource types and each planet has a handful of them with differing richness. There are tens of thousands of planets in the universe, so finding the most optimal resource can be tricky. So I wrote an app using some game data to find resources for you!</p>
          <a href="https://echoes-tools.herokuapp.com/" class="small-font">link</a>
          <span class="text-splitter"></span>
          <a href="https://gitlab.com/freiguy1/echoes-tools" class="small-font">source</a>
        </div>
      </div>
    </div>

    <div class="tech">
      <h3>Deepfrei</h3>
      <div class="info">
        <div></div>
        <div>
          <p>Deepfrei is an archiving program written in rust which compresses and uploads media to S3 glacier deep archive. The goal was a cheaply storing family photos and videos to only be retrieved in case of emergency.</p>
          <a href="/posts/archiving-memories.html" class="small-font">blog post</a>
        </div>
      </div>
    </div>

    <div class="tech">
      <h3>Woodworking Showcase</h3>
      <div class="info">
        <!-- <a href="http://playground.ethanfrei.com/showcase"> -->
          <img src="/img/woodworking-showcase.png"></img>
        <!-- </a> -->
        <div>
          <p>I made this site to be a repository of all my woodworking projects. It has an administration half which allows me to add new projects, pictures, and descriptions. In the past, I used a public google photo album, but this site has the feature of adding descriptions and groups photos by project.</p>
          <!-- <a href="http://playground.ethanfrei.com/showcase" class="small-font">link</a>
          <span class="text-splitter"></span> -->
          <a href="https://gitlab.com/freiguy1/playground" class="small-font">source</a>
        </div>
      </div>
    </div>

    <div class="tech">
      <h3>Snake: the game</h3>
      <div class="info">
        <a href="http://freiguy1.gitlab.io/elm-snake/">
          <img src="/img/snake.png"></img>
        </a>
        <div>
          <p>A game written using a functional language called elm. Check out more info in the blog post.</p>
          <a href="http://freiguy1.gitlab.io/elm-snake/" class="small-font">link</a>
          <span class="text-splitter"></span>
          <a href="/posts/snake-in-elm.html" class="small-font">blog post</a>
          <span class="text-splitter"></span>
          <a href="https://gitlab.com/freiguy1/elm-snake" class="small-font">source</a>
        </div>
      </div>
    </div>

    <div class="tech">
      <h3>MCIS Mood</h3>
      <div class="info">
        <a href="#">
          <img src="/img/mcis-mood.png"></img>
        </a>
        <div>
          <p>A website made by my wife and me which showed the environment status for the project we were working on at MCIS.  This project used websockets to keep all clients up to date without polling. Each environment had a detail page showing the availability timeline. This was written in elixir using the phoenix framework.</p>
        </div>
      </div>
    </div>

    <div class="tech">
      <h3>The Balance Keeper</h3>
      <div class="info">
        <a href="https://github.com/freiguy1/playground">
          <img src="/img/balance-keeper.png"></img>
        </a>
        <div>
          <p>A web app used to keep the balance of the cash one put in the 'coffee can' to buy snacks at MCIS. This app requires authentication which can be done through OAuth2 with Google. It has a bit of graphing data analytics.</p>
          <a href="https://github.com/freiguy1/playground" class="small-font">source</a>
        </div>
      </div>
    </div>

    <div class="tech">
      <h3>Chili Cookoff Voting</h3>
      <div class="info">
        <a href="https://github.com/freiguy1/playground">
          <img src="/img/chili-cookoff.png"></img>
        </a>
        <div>
          <p>At MCIS I organized the chili cookoff for 5 years. I also made the webapp we used for voting for our favorites. It allowed for anonymous voting and entry submission. Participants could modify their entry using a unique URL given to them when registering.</p>
          <a href="https://github.com/freiguy1/playground" class="small-font">source</a>
        </div>
      </div>
    </div>

    <div class="tech">
      <h3>Rust roller</h3>
      <div class="info">
        <a href="https://github.com/freiguy1/rust-roller">
          <img src="/img/rust-roller.png"></img>
        </a>
        <div>
          <p>Unlike most of the projects here, this is not a web app. This is a console-based application for rolling dice. It can be used for tabletop RPGs like D&D. It features a history and the ability to save common rolls. You can add a modifier and roll any combination of dice. It's written in rust.</p>
          <a href="http://ethanfrei.com/posts/dice-rolling-application.html" class="small-font">blog post</a>
          <span class="text-splitter"></span>
          <a href="https://github.com/freiguy1/rust-roller" class="small-font">source</a>
          <span class="text-splitter"></span>
          <a href="https://this-week-in-rust.org/blog/2015/02/02/this-week-in-rust-68/" class="small-font">mentioned in rust weekly blog</a>
        </div>
      </div>
    </div>

    <div class="tech">
      <h3>phant-rust</h3>
      <div class="info">
        <div></div>
        <div>
          <p>This project is a rust library (no user interface). It is for manipulating data on a <a href="http://phant.io">Phant</a> server. The library allows you to create new log entries, create and delete streams, and more. Since its creation, Phant has been shut down by Sparkfun and so the lib isn't usable.</p>
          <a href="https://crates.io/crates/phant" class="small-font">link</a>
          <span class="text-splitter"></span>
          <a href="https://docs.rs/crate/phant">docs</a>
          <span class="text-splitter"></span>
          <a href="https://github.com/freiguy1/phant-rust" class="small-font">source</a>
        </div>
      </div>
    </div>

  </div>
</div>
