<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-33832647-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-33832647-1');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    {% if page.title %}
        <title>{{ page.title }}</title>
    {% else %}
        <title>Ethan's Blog</title>
    {% endif %}

    <link href='https://fonts.googleapis.com/css?family=Titillium+Web|Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/tomorrow-night.min.css">
    <link rel="stylesheet" href="/css/main.css">

  </head>
  <body>
    <div class="wrapper">
      <header>
        <a class="logo" href="/">
          <img src="/img/EF.png"/>
          <p>ethanfrei.com</p>
        </a>
        <p>
          <span>familyman</span>
          <span class="text-splitter"></span>
          <span>developer</span>
          <span class="text-splitter"></span>
          <span>maker</span>
        </p>
        <a href="/about-me.html" class="small-font">about me</a>
        <a href="/tech.html" class="small-font">tech portfolio</a>
        <a href="http://playground.ethanfrei.com/showcase" target="_blank" class="small-font">woodworking showcase</a>
        <a href="https://gitlab.com/freiguy1/freiguy1.gitlab.io" target="_blank" class="small-font">site source</a>
      </header>
      <main>
        {{ page.content }}
      </main>
    </div>
  </body>
</html>
