<!DOCTYPE html>
<html>
  <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-33832647-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-33832647-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <link href='https://fonts.googleapis.com/css?family=Titillium+Web|Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/tomorrow-night.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/post.css">

  </head>
  <body>
    {% if banner_photo %}
      <div class="banner-photo" style="background-image: url({{ banner_photo }});">
    </div>
    {% endif %}
    <div class="wrapper">
      <header>
        <a class="logo" href="/">
          <img src="/img/EF.png"/>
          <p>ethanfrei.com</p>
        </a>
        <p>
          <span>familyman</span>
          <span class="text-splitter"></span>
          <span>developer</span>
          <span class="text-splitter"></span>
          <span>maker</span>
        </p>
        <a href="/about-me.html" class="small-font">about me</a>
        <a href="/tech.html" class="small-font">tech portfolio</a>
        <!-- <a href="http://playground.ethanfrei.com/showcase" target="_blank" class="small-font">woodworking showcase</a> -->
        <a href="https://gitlab.com/freiguy1/freiguy1.gitlab.io" target="_blank" class="small-font">site source</a>
      </header>
      <main>
        <a class="small-font" href="/">&larr; back to blog</a>
        <h1 class="post-title">{{ page.title }}</h1>
        <!-- <p class="post-date">{ humandate }</p> -->
        <div class="post-content">
          {{ page.content }}
        </div>
        <div id="disqus_thread"></div>
        <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://ethanfrei-com.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
      </main>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/languages/rust.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/languages/yaml.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/languages/elixir.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/languages/elm.min.js"></script>
    <script type="text/javascript">hljs.initHighlightingOnLoad();</script>
  </body>
</html>
